<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Admin ID</th>
                <th>Conductor ID</th>
                <th>Alumno ID</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.user_ID }}</td>
                <td>{{ usuario.email }}</td>
                <td>{{ usuario.contrasena }}</td>
                <td>{{ usuario.admin_ID }}</td>
                <td>{{ usuario.conductor_ID }}</td>
                <td>{{ usuario.alumno_ID }}</td>
                <td>
                    <a href="{{ url_for('usuarios.editar_usuario', user_ID=usuario.user_ID) }}">Editar</a>
                    <a href="{{ url_for('usuarios.eliminar_usuario', user_ID=usuario.user_ID) }}">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('usuarios.crear_usuario') }}">Crear Nuevo Usuario</a>
</body>
</html>